<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/homeLayout}">
<head>
<meta charset="UTF-8">
<title>TogetChat</title>

<link rel="stylesheet" th:href="@{/css/content/home.css}">
<script th:src="@{/js/home.js}" defer></script>

</head>
<body>

	<main layout:fragment="content" class="frame">
		<div class="main2">
			<div th:text="${categoryName + ' 인기 TOP5'}"></div>
			<div>
				<!-- <ul id="programTOP5" class="flex sb wrap" th:each="program:${programList}">
					<li><a class="program-aTag" th:href="@{/board/${program.idx}}">
						<img th:if="${program.image != null}" src="/images/default.png" height="300px" width="220px">
						<div class="no-image" th:unless="${program.title}"></div>
					</a></li> -->
				<ul id="programTOP5" class="flex sb wrap">
					<li><a class="program-aTag" href="#"><img src="/images/default.png" height="300px" width="220px"></a></li>
					<li><a href="#"><img src="/images/default.png" height="300px" width="220px"></a></li>
					<li><a href="#"><img src="/images/default.png" height="300px" width="220px"></a></li>
					<li><a href="#"><img src="/images/default.png" height="300px" width="220px"></a></li>
					<li><a href="#"><img src="/images/default.png" height="300px" width="220px"></a></li>
				</ul>
			</div>
		</div>
		
		<div class="main4">
			<div th:text="${categoryName + ' 전체'}"></div>
			<ul id="allProgram" class="flex wrap">
				<li th:each="program : ${listByCategory}">
					<a class="program-aTag" href="#">
						<img th:if="${program.image != null}" th:src="@{/image/programImage/program.image}" height="300px" width="220px">
						<div class="no-image" th:if="${program.image == null}" th:text=${program.title}></div>
					</a>
				</li>
			</ul>
		</div>
	</main>

</body>
</html>