<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<header class="frame">
		<nav class="flex sb">
			<div class="flex logo">
				<a href="#"><img src="/images/togetChatLogo.png" height="60px"></a>
				<ul class="flex sb">
					<li><a href="#">드라마</a></li>
					<li><a href="#">영화</a></li>
					<li><a href="#">예능</a></li>
					<li><a href="#">애니메이션</a></li>
					<li><a href="#">프로젝트 설명</a></li>
				</ul>
			</div>

			<div class="nav-menu">
				<ul class="flex sb">
					<li class="search">
						<a href="#"><img src="/images/search.png" height="30px">
					    <img src="/images/search_hover.png" height="30px"></a>
					</li>
					<li>
						<a href="#"><img th:src="${login.profile}" height="50px"></a>
						<ul class="nav-menu-mypage">
							<li th:text="${login.nickName + '님'}"></li>
							<li><a href="#">마이페이지</a></li>
							<li><a href="/member/logout">로그아웃</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>	
	</header>

</html>