@charset "UTF-8";
/* header */
	header {
		height: 80px;
		padding: 5px 20px;
	}
	nav {
		width: 100%;
		height: 100%;
	}
	.logo > ul,
	.nav-menu > ul {
		margin: 0 10px;
	}
	.logo > ul > li,
	.nav-menu > ul > li {
		padding: 0 10px;
		height: 60px;
		line-height: 60px;
	}
	.logo > ul > li > a,
	.nav-menu > ul > li > a {
		font-size: 24px;
		color: white;
		font-weight: bold;
		line-height: 60px;
		text-align: center;
		align-items: center;
		width: 100%;
	}
	.logo > ul > li > a:hover {
		color: #ffbd4a;
	}
	.nav-menu > ul > li:nth-child(2) img {
		padding-bottom: 7px;
	}
	.search > a > img:first-child {
    	display: block;
	}
	.search > a > img:nth-child(2) {
    	display: none;
	}
	.search > a:hover img:first-child {
		display: none;
	}
	.search > a:hover img:nth-child(2) {
		display: block;
	}
	.search > a > img {
		padding-top: 15px;
	}
	.nav-menu > ul > li:nth-child(2) {
		width: 60px;
		position: relative;
	}
	.nav-menu-mypage {
		display: none;
		position: absolute;
		top: 90%; /* 프로필 이미지 바로 아래에 위치 */
		right: 10px;
		width: 240px;
		background-color: rgb(64, 64, 64);
		margin-top: 5px;
		border: 1px solid #515151;
	}
	.nav-menu > ul > li:nth-child(2):hover .nav-menu-mypage {
		display: block;
	}
	.nav-menu-mypage > li {
		width: 240px;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		color: white;
	}
	.nav-menu-mypage > li > a {
		color: white;
		font-size: 16px;
		line-height: 50px;
	}
	.nav-menu-mypage > li:first-child ~ li {
		height: 50px;
	}
	.nav-menu-mypage > li:first-child ~ li:hover {
		background-color: rgb(91, 91, 91);
	}