<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/homeLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/board/list.css}">
<script th:src="@{/js/board/list.js}" defer></script>

</head>
<body>

    <main layout:fragment="content" class="frame">
        <div class="program flex">
            <div class="program-img">
                <img th:if="${program.image != null}" src="${program.image}" alt="${program.title}">
                <img th:if="${program.image == null}" src="/images/default.png" 
                     alt="${program.title}" height="600px">
            </div>
            <div class="program-content">
                <div class="program-content-title" th:text="${program.title}"></div>
                <div class="program-content-likescore flex">
                    <div class="like">
                        <div class="like-text">즐겨찾기</div>
                        <div class="like-button">❤</div>
                    </div>
                    <div class="score">
                        <div class="score-text">현재 평점</div>
                        <div class="score-avg">5.0점</div>
                    </div>
                </div>
                <div class="chatroomBtn">
                    <button>같이 &nbsp;시청하기</button>
                </div>
                <div class="program-content-text" th:text="${program.content}"></div>
            </div>
        </div>
        <div class="list">
            <div class="border flex sb">
                <div class="board-title" th:text="${'<' + program.title + '> 게시판'}"></div>
                <div class="border-write"><a th:href="@{/board/write/{idx}(idx=${program.idx})}"><button>글쓰기</button></a></div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일자</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boardList}" class="post">
                        <td th:text="${board.idx}"></td>
                        <td th:text="${board.title}"></td>
                        <td th:text="${board.writer}"></td>
                        <td th:text="${#dates.format(board.writeDate, 'yyyy-MM-dd')}"></td>
                        <td th:text="${board.viewCount}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
 

</body>
</html>